<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/create-user"><span class="glyphicon glyphicon-user" routerLink="/create-user" routerLinkActive="active"></span> Register</a></li>
      <li><a href="/login-user"><span class="glyphicon glyphicon-log-in" routerLink="/login-user" routerLinkActive="active"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="container-app">
  <!-- <app-login-user></app-login-user> -->
  <router-outlet></router-outlet>
</div>




