<h3>Login</h3>

<div class="panel panel-default" style="width: 500px">
    <div class="panel-body">
        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" type="text"[(ngModel)]="name">
            <label>Senha</label>
            <input class="form-control" type="password" [(ngModel)]="password">
        </div>
        <div class="btn-group">
            <button class="btn btn-success" type="button" (click)="login()">Login</button>
        </div>  
    </div>
</div>
